# main.ipynb

This notebook runs the data parsing notebook `parse_data.ipynb` and reports a summary.

In [1]:
%run parse_data.ipynb

In [2]:
df.describe()

         Happiness         GDP  Social Support      Health     Freedom
count  1969.000000  872.000000      872.000000  870.000000  871.000000
mean      5.451904    1.220280        1.078529    0.542917    0.563723
std       1.121865    0.463448        0.355055    0.222949    0.180203
min       1.364000    0.000000        0.000000    0.000000    0.000000
25%       4.596000    0.901250        0.850750    0.383000    0.450500
50%       5.456000    1.263500        1.106500    0.555000    0.571000
75%       6.295000    1.567000        1.361000    0.704750    0.676000
max       7.856000    2.209000        1.840000    1.138000    1.018000