# parse_data.ipynb

This notebook parses the data files used for the FP-2 assignment. 

<br>
<br>

First let's read the attached data file:

In [1]:
import pandas as pd

df0 = pd.read_csv('WHR25_Data_Figure_2.1v3(Data for Figure 2.csv',encoding='latin1')

df0.describe()

,Year,Rank,Life evaluation (3-year average),Lower whisker,Upper whisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
count,1969.000000,1969.000000,1969.000000,875.000000,875.000000,872.000000,872.000000,870.000000,871.000000,872.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2017.714068,76.430168,5.451904,5.418737,5.648687,1.220280,1.078529,0.542917,0.563723,0.154259,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,3.964913,43.942744,1.121865,1.139067,1.103935,0.463448,0.355055,0.222949,0.180203,0.086736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2011.000000,1.000000,1.364000,1.301000,1.427000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2015.000000,38.000000,4.596000,4.638000,4.885000,0.901250,0.850750,0.383000,0.450500,0.092000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2018.000000,76.000000,5.456000,5.529000,5.775000,1.263500,1.106500,0.555000,0.571000,0.140500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2021.000000,114.000000,6.295000,6.254000,6.458500,1.567000,1.361000,0.704750,0.676000,0.205000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2024.000000,158.000000,7.856000,7.780000,7.904000,2.209000,1.840000,1.138000,1.018000,0.570000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<br>
<br>

The dependent and independent variables variables (DVs and IVs) that we are interested in are:

**DVs**:
- Quality  (the judged wine quality)

**IVs**:
- Acidity ("volatile acidity" column in the CSV file)
- Density ("density" column in the CSV file)
- Sugar  ("residual sugar" column in the CSV file)


<br>
<br>

Let's extract the relevant columns:

In [2]:

df = df0[  ['Life evaluation (3-year average)', 'Explained by: Log GDP per capita', 'Explained by: Social support', 'Explained by: Healthy life expectancy', 'Explained by: Freedom to make life choices', 'Explained by: Generosity']  ]

df.describe()

,Life evaluation (3-year average),Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity
count,1969.000000,872.000000,872.000000,870.000000,871.000000,872.000000
mean,5.451904,1.220280,1.078529,0.542917,0.563723,0.154259
std,1.121865,0.463448,0.355055,0.222949,0.180203,0.086736
min,1.364000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.596000,0.901250,0.850750,0.383000,0.450500,0.092000
50%,5.456000,1.263500,1.106500,0.555000,0.571000,0.140500
75%,6.295000,1.567000,1.361000,0.704750,0.676000,0.205000
max,7.856000,2.209000,1.840000,1.138000,1.018000,0.570000

<br>
<br>

Next let's use the `rename` function to give the columns simpler variable names:

In [3]:
df = df.rename( columns={'Life evaluation (3-year average)':'happiness', 'Explained by: Log GDP per capita':'GDP', 'Explained by: Social support':'Social Support', 'Explained by: Healthy life expectancy':'Health','Explained by: Freedom to make life choices':'Freedom',  'Explained by: Generosity':'Generosity'} )

df.describe()

,happiness,GDP,Social Support,Health,Freedom,Generosity
count,1969.000000,872.000000,872.000000,870.000000,871.000000,872.000000
mean,5.451904,1.220280,1.078529,0.542917,0.563723,0.154259
std,1.121865,0.463448,0.355055,0.222949,0.180203,0.086736
min,1.364000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.596000,0.901250,0.850750,0.383000,0.450500,0.092000
50%,5.456000,1.263500,1.106500,0.555000,0.571000,0.140500
75%,6.295000,1.567000,1.361000,0.704750,0.676000,0.205000
max,7.856000,2.209000,1.840000,1.138000,1.018000,0.570000